include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body
    include ../components/global/header
    //main
    main.index
      include ../pages/index/1-screen
      include ../pages/index/features
      include ../pages/index/integrations
      include ../pages/index/platform
      include ../pages/index/cases
      include ../pages/index/proposal
      include ../pages/index/advantages
      include ../pages/index/tools
      include ../pages/index/templates
      include ../pages/index/points
    include ../components/global/footer
    include ../components/modals/pages
    include ../components/global/scripts
