//first-screen
section.first-sc
  .container.first-sc__container
    .first-sc__left
      h1.first-sc__title Automation infrastructure for&nbsp;
        span.first-sc__slider data streams
      p.first-sc__text Empowering Web3 users to seamlessly connect to&nbsp;
        span.main any application
        | &nbsp;and automate any workflow both on- and off-chain
      button.btn.btn_primary Create Task
    .first-sc__right
      .first-sc__img
        img(src="img/first-sc.png", alt="")
