.advantages {
  padding: 64px 0;
  background: $bg-beige;
  position: relative;
  @include mq('768') {
    padding: 80px 0;
  }
  &:after {
    content: "";
    width: 100%;
    height: 203px;
    background: $bg;
    position: absolute;
    bottom: 0;
    left: 0;
    clip-path: ellipse(247% 100% at 50% 120%);
    z-index: 0;
    @include mq('768') {
      clip-path: ellipse(76% 89% at 50% 120%);
    }
  }
  &__title {
    margin-bottom: 24px;
    @include mq('1280') {
      white-space: wrap;
    }
  }
  .icon {
    width: 40px;
    height: 40px;
  }
}

.advantages-list {
  margin-top: 20px;
  padding-top: 20px;
  position: relative;
  z-index: 1;
  @include mq('768') {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 32px;
    margin-top: 44px;
  }
  &__item {
    border: 0.5px solid $black;
    padding: 22px 24px;
    background: $bg;
    border-radius: 32px;
    margin-bottom: 16px;
    &:not(:last-child) {
      margin-bottom: 16px;
      @include mq('768') {
        margin-bottom: 0;
      }
    }
    @include mq('768') {
      height: 100%;
      padding: 32px;
      margin-bottom: 0;
    }
  }
  &__title {
    display: block;
    font-weight: 600;
    font-family: $font-family-title;
    font-size: 24px;
    line-height: 1.3;
    margin-top: 26px;
    @include mq('768') {
      margin-top: 22px;
    }
  }
  &__text {
    margin-top: 16px;
    @include mq('768') {
      font-size: 16px;
    }
  }

}
