.cases {
  padding: 47px 0 64px;
  position: relative;
  background: $bg-beige;
  @include mq('768') {
    padding: 28px 0 48px;
  }
  &:before {
    content: "";
    background: $bg-dark;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 535px;
    z-index: 0;
    clip-path: ellipse(160% 100% at 50% -34%);
    @include mq('768') {
      clip-path:  ellipse(114% 100% at 50% -22%);
      height: 330px;
    }
  }
  &__title {
    color: $text-white;
    position: relative;
    z-index: 1;

  }
  &__text {
    color: $text-white;
    text-align: center;
    margin: 25px 0;
    position: relative;
    z-index: 1;
    @include mq('768') {
      margin: 25px 0;
    }
  }
}

.cases-tabs {
  display: block;
  margin-top: 40px;
  @include mq('768') {
    margin-top: 65px;
  }
  &__btns {
    box-shadow: 0px 20px 24px -4px rgba(43, 39, 35, 0.08), 0px 8px 8px -4px rgba(43, 39, 35, 0.03);
    background: $bg;
    border-radius: 20px;
    padding: 16px 16px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 300px;
    margin: 0 auto;
    @include mq('375') {
      max-width: 100%;
    }
    @include mq('768') {
      max-width: 787px;
      justify-content: space-between;
      padding: 16px 22px;
    }
  }
  &__btn {
    font-family: 'Gilroy';
    font-weight: 700;
    display: inline-block;
    line-height: 1.3;
    font-size: 18px;
    padding: 0 20px;
    line-height: 49px;
    border-radius: 12px;
    border: 1px solid transparent;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    @include mq('375') {
      padding: 0 38px;
      margin-bottom: 5px;
    }
    &:hover {
      color: $main;
    }
    &.active{
      background: $main;
      color: $text-white;
      border: 1px solid $main;
    }
    @include mq('768') {
      padding: 0 24px;
    }
  }
  &-content {
    margin-top: 24px;
    @include mq('1280') {
      margin-top: 39px;
    }
    &__item {
      display: none;
      width: 100%;
      height: auto;
      box-shadow: 0px 20px 24px -4px rgba(43, 39, 35, 0.08), 0px 8px 8px -4px rgba(43, 39, 35, 0.03);
      border-radius: 20px;
      background: $bg;
      display: none;
      flex-direction: column;
      @include mq('1280') {
        height: 576px;
      }
      &.active {
        display: flex;
      }
      &:last-child {
        p {
          max-width: 100%;
        }
      }
    }
    &__top {
      overflow: hidden;
      @include mq('768') {
        flex-grow: 3;
      }
      img {
        height: auto;
        width: 100%;
        object-fit: contain;
        @include mq('768') {
          height: 100%;
          object-position: bottom;

        }
      }
    }
    &__bottom {
      text-align: center;
      padding: 16px 16px 12px;
      border-top: 1px solid $bg-dark;
      margin-top: auto;
      @include mq('768') {
        padding: 13px 16px;
      }
      p {
        max-width: 640px;
        margin: 0 auto;
        font-size: 14px;
        @include mq('768') {
          font-size: 18px;
          font-weight: 600;
          font-family: $font-family-title;
        }
        @include mq('1280') {
          font-size: 22px;
          line-height: 1.4;
        }
      }
    }
  }
}
