.features {
  padding: 40px 0 64px;
  position: relative;
  @include mq('768') {
    padding: 74px 0 72px;
  }
  &:before, &:after {
    content: "";
    width: 100%;
    height: 100%;
    background: $bg-dark;
    position: absolute;
    bottom: 0;
    left: 0;
    clip-path: ellipse(247% 100% at 50% 120%);
    z-index: 1;
    @include mq('768') {
      clip-path: ellipse(214% 100% at 50% 133%);
    }
  }
  &:after {
    background: url(../img/features-bg.svg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  &_shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    clip-path: ellipse(247% 100% at 50% 120%);
    z-index: 2;
    background: linear-gradient(180deg, #202020 0%, rgba(32, 32, 32, 0) 70%, #202020 100%);;
    @include mq('768') {
      clip-path: ellipse(214% 100% at 50% 133%);
    };
  }
}

.features-list {
  margin-top: 48px;
  position: relative;
  z-index: 2;
  &__item {
    background: $bg;
    box-shadow: 0px 12px 95px rgba(0, 0, 0, 0.08), 0px 2.68036px 21.2195px rgba(0, 0, 0, 0.0476886), 0px 0.798012px 6.3176px rgba(0, 0, 0, 0.0323114);
    border-radius: 32px;
    max-width: 538px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
    @include mq('768') {
      max-width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 40px;
      &:nth-child(even) {
        flex-direction: row-reverse;
        .features-list__content {
          padding-left: 16px;
        }
      }
    }
    @include mq('1024') {
      height: 384px;
      align-items: flex-start;
    }
  }
  &__content {
    padding: 24px;
    padding-bottom: 16px;
    @include mq('768') {
      padding: 30px;
      width: calc(100% - 300px);
      display: inline-flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    @include mq('1024') {
      padding: 48px;
      padding-right: 65px;
      width: calc(100% - 524px);
      height: 100%;
    }
  }
  &__title {
    margin-bottom: 16px;
  }
  &__text {
    margin-bottom: 40px;
    @include mq('768') {
      margin-bottom: 20px;
      font-weight: 500;
    }
  }
  &__btn {
    @include mq('768') {
      margin-top: auto;
      width: fit-content;
    }
  }
  &__img {
    position: relative;
    width: 280px;
    height: 280px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    @include mq('375') {
      width: 344px;
      height: 344px;
    }
    @include mq('768') {
      width: 300px;
      height: 300px;
      padding: 24px;
    }
    @include mq('1024') {
      width: 524px;
      height: 384px;
      padding: 41px;
    }
    &:before, &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $cicle;
      border-radius: 50%;
      @include mq('1024') {
        width: 524px;
        height: 524px;
      }
    }
    &:before {
      @include mq('768') {
        transform: translate(-50%, -50%) scale(1.2);
      }
      @include mq('1024') {
        transform: translate(-50%, -50%) scale(1);
      }
    }
    &:after {
      transform: translate(-50%, -50%) scale(0.7);
      @include mq('768') {
        transform: translate(-50%, -50%) scale(0.8);
      }
      @include mq('1024') {
        transform: translate(-50%, -50%) scale(0.7);
      }
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      position: relative;
      z-index: 2;
      margin: auto;
    }
  }
}

