//first-screen
.first-sc {
  padding-top: 112px;
  padding-bottom: 42px;
  position: relative;
  @include mq('768') {
    padding-top: 124px;
    padding-bottom: 55px;
  }
  @include mq('1024') {
    padding-top: 164px;
    overflow-x: hidden;
  }
  &:before {
    content: "";
    position: absolute;
    left: 55%;
    bottom: 0;
    width: 50%;
    border-radius: 24px;
    @include mq('1024') {
      background-image: url(../img/first-sc/first-sc-back@2x.png);
      background-image: -webkit-image-set(
        url(../img/first-sc/first-sc-back@2x.webp) type('image/webp'),
        url(../img/first-sc/first-sc-back@2x.png));
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left;
      height: 470px;
      bottom: 40px
    }
    @include mq('1280') {
      height: 470px;
      left: 57%;
    }
    @include mq('1440') {
      height: 479px;
      width: 884px;
      aspect-ratio: 1 / 1;
    }
    @include mq('1600') {
      left: calc(50% + 84px);
    }
  }

  &__title {
    margin-bottom: 24px;
    @include mq('1280') {
      line-height: 1.5;
      margin-bottom: 20px;
    }
  }
  &__slider {
    line-height: 45px;
    color: $text-white;
    height: 45px;
    position: relative;
    margin-top: 8px;
    margin-left: 4px;
    display: inline-flex!important;
    flex-direction: column!important;
    flex-wrap: nowrap!important;
    width: 280px!important;
    @include mq('768') {
      margin-top: 0px;
      width: 309px!important;
    }
    @include mq('1280') {
      height: 56px;
      font-size: 40px;
      transform: translateY(-6px);
      width: 470px!important;
    }
    span {
      display: inline-block;
      width: auto;
      text-align: center;
      height: 100%;
      background: $main;
      border-radius: 16px;
      width: fit-content!important;
      padding: 0 10px;
      font-size: 22px;
      @include mq('375') {
        font-size: 24px;
      }
      @include mq('768') {
        font-size: 26px;
        padding: 0 10px;
      }
      @include mq('1024') {
        font-size: 30px;
        padding: 0 16px;
      }
      @include mq('1280') {
        font-size: 40px;
        padding-top: 3px;
      }
    }
  }
  &__text {
    margin-bottom: 40px;
    @include mq('768') {
      font-weight: 500;
    }
    @include mq('1280') {
      margin-bottom: 47px;
    }
  }
  &__container {
    @include mq('768') {
      display: flex;
    }
  }
  &__right {
    margin-top: 44px;
    max-width: 100%;
    min-height: 275px;
    margin: 44px auto 0;
    margin-right: -16px;
    @include mq('768') {
      margin-right: -20px;
      width: 45%;
      max-width: 501px;
    }
    @include mq('1024') {
      width: 486px;
      height: 486px;
      margin-top: -13px;
      margin-right: 0;
    }
  }
  &__left {
    @include mq('768') {
      width: 50%;
      padding-top: 39px;
    }
    @include mq('1024') {
      padding-top: 63px;
      width: calc(100% - 486px);
      padding-right: 37px;
    }
  }
  &__img {
    &_mobile {
      @include mq('1024') {
        display: none;
      }
      img {
        width: 100%;
        height: auto;
        margin: 0 0 0 auto;
      }
    }
    &_desktop {
      display: none;
      position: relative;
      @include mq('1024') {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
      }
      picture {
        overflow: hidden;
        position: absolute;
        width: 300px;
        object-fit: contain;
        z-index: 2;
        border-radius: 11.5px;
        box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
        &:first-child {
          bottom: 29px;
          left: -31px;
          z-index: 4;
          height: 218px;
          @include mq('1920') {
            left: -51px;
          }
        }
        &:nth-child(2) {
          top: -40px;
          right: -85px;
          height: 158px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
