//first-screen
.first-sc {
  padding-top: 112px;
  padding-bottom: 42px;
  @include mq('768') {
    padding-top: 124px;
    padding-bottom: 55px;
  }
  @include mq('1024') {
    padding-top: 164px;
  }
  &__title {
    margin-bottom: 24px;
    @include mq('1280') {
      line-height: 1.5;
      margin-bottom: 20px;
    }
  }
  &__slider {
    background: $main;
    border-radius: 16px;
    padding: 0 16px;
    line-height: 45px;
    color: $text-white;
    height: 45px;
    position: relative;
    margin-top: 8px;
    font-size: 32px;
    margin-left: 4px;
    @include mq('768') {
      margin-top: 0px;
    }
    @include mq('1280') {
      height: 56px;
      font-size: 40px;
      transform: translateY(-6px);
      padding: 0 22px;
    }
    &[data-keen-slider-v] {
      display: inline-flex!important;
      flex-direction: column!important;
      flex-wrap: nowrap!important;
      width: fit-content!important;

    }
    span {
      display: inline-block;
      width: auto;
      text-align: center;
      height: 100%;
      @include mq('768') {
        padding-top: 3px;
      }
    }
  }
  &__text {
    margin-bottom: 40px;
    @include mq('768') {
      font-weight: 500;
    }
    @include mq('1280') {
      margin-bottom: 47px;
    }
  }
  &__container {
    @include mq('768') {
      display: flex;
    }
  }
  &__right {
    margin-top: 44px;
    max-width: 582px;
    min-height: 275px;
    margin: 44px auto 0;
    @include mq('768') {
      margin-right: 0;
      width: 45%;
      max-width: 501px;
    }
    @include mq('1024') {
      width: 486px;
      height: 486px;
      margin-top: -13px;
    }
  }
  &__left {
    @include mq('768') {
      width: 50%;
      padding-top: 39px;
    }
    @include mq('1024') {
      padding-top: 63px;
      width: calc(100% - 486px);
      padding-right: 37px;
    }
  }
  &__img {
    &_mobile {
      @include mq('1024') {
        display: none;
      }
    }
    &_desktop {
      display: none;
      position: relative;
      @include mq('1024') {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
      }
      &:before, &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        background: $cicle;
        border-radius: 50%;
      }
      &:after {
        transform: translate(-50%, -50%) scale(0.7);
      }
      img {
        position: absolute;
        width: 95px;
        height: 121px;
        object-fit: contain;
        z-index: 2;
        border-radius: 11.5px;
        box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
        &:first-child {
          bottom: 10px;
          right: 36px;
          z-index: 4;
        }
        &:nth-child(2) {
          left: 9px;
          bottom: 53px;
        }
        &:nth-child(3) {
          right: -91px;
          bottom: 70px;
          width: 458px;
          height: 165px;
          z-index: 3;
        }
        &:nth-child(4) {
          left: -16px;
          top: 123px;
          width: 456px;
          height: 177px;
        }
        &:nth-child(5) {
          right: 150px;
          top: 63px;
        }
        &:nth-child(6) {
          left: 84px;
          top: 12px;
        }
      }
    }

  }
}
