.integrations {
  padding: 64px 0;
  background: $bg-dark;
  @include mq ('768') {
    padding: 80px 0;
  }
  &-slider {
    position: relative;
    &:before, &:after {
      content: "";
      width: 124px;
      height: 80px;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      z-index: 2;
      background: linear-gradient(90deg, #202020 0%, rgba(32, 32, 32, 0) 100%);
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
      transform: translateY(-50%) rotate(180deg);
    }
    &__item {
      display: inline-flex;
      height: 28px;
      justify-content: center;
      @include mq('1024') {
        height: 48px;
      }
    }
    img {
      height: 100%;
      object-fit: contain;
    }
  }
  &__title {
    color: $text-white;
    margin-bottom: 60px;
  }
}
