.partners {
  padding: 64px 0;
  background: $bg-dark;
  margin-top: -1px;
  // поправить белую полоску сверху
  @include mq ('768') {
    padding: 80px 0;
  }
  &-slider {
    &__item {
      display: inline-flex;
      height: 28px;
      justify-content: center;
    }
    img {
      height: 100%;
      object-fit: contain;
    }
  }
  &__title {
    color: $white-text;
    margin-bottom: 60px;
  }
}
