.platform {
  background: $bg-dark;
  padding: 80px 0 30px;
  color: $text-white;
  @include mq('768') {
    padding: 97px 0 80px;
  }
  &__title {
    margin-bottom: 26px;
  }
  &__text {
    margin: 24px 0 0;
    text-align: center;
    @include mq('768') {
      max-width: 718px;
      font-weight: 500;
      margin: 24px auto 0;

    }
  }
  &__btn {
    @include mq('768') {
      margin-top: auto;
    }

  }
}

.platform-list {
  margin: 0 auto;
  max-width: 350px;
  border-radius: 32px;
  overflow: visible!important;
  @include mq('768') {
    margin: 0;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 56px 0 50px;
  }
  &__item {
    box-shadow: 10px 0px 24px -4px rgba(16, 24, 40, 0.08), 7px 0px 8px -4px rgba(16, 24, 40, 0.03);
    border-radius: 32px;
    background: $bg;
    color: $text;
    overflow: hidden;
    margin-bottom: 20px;
    @include mq('768') {
      width: 32%;
      text-align: center;
      display: flex;
      flex-direction: column;
      padding: 32px;
      height: 411px;
      margin-bottom: 0;
    }
    @include mq('1024') {
      height: 365px;
      width: 31.5%;
    }
  }
  &__img {
    width: 100%;
    height: 200px;
    @media screen and (max-height: 750px) {
      height: 170px;
    }
    @include mq('768') {
      background: transparent;
      padding: 0;
      height: auto;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
      @include mq('768') {
        width: 114px;
        height: 114px;
        margin: 0 auto;
      }
    }
    &_first {
      background: $platform-sl-bg-1;
      padding: 26px 0;
    }
    &_second {
      background: $platform-sl-bg-2;
      padding: 10px 0;
    }
    &_third {
      background: $platform-sl-bg-3;
    }
  }
  &__content {
    padding: 24px;
    @include mq('768') {
      padding: 24px 0 0;
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
  &__title {
    display: block;
    margin-bottom: 24px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
    font-family: $font-family-title;
  }
  &__subtitle {
    display: block;
    margin: 11px 0;
    line-height: 1.3;
    @include mq('768') {
      font-size: 16px;
    }
  }

  &__text {
    margin: 40px 0 66px;
    @media screen and (max-height: 750px) {
      margin: 20px 0 60px;
    }
    @include mq('768') {
      display: none;
    }
  }

  &__btns {
    position: absolute;
    width: 100%;
    max-width: 350px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    @include mq('768') {
      display: none;
    }
  }
  &__btn {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: $main;
    transition: background 0.2s ease-in-out;
    box-shadow: none;
    font-size: 0;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    &:focus {
      box-shadow: none;
    }
    &:hover {
      background: $btn-1-bg-hover;
    }
    &.disabled {
      opacity: 0.2;
      pointer-events: none;
    }
    .icon {
      width: 24px;
      height: 24px;
    }
  }

  &__close {
    display: none;
    position: absolute;
    font-size: 0;
    z-index: 4;
    padding: 0;
    width: 25px;
    height: 25px;
    top: 23px;
    right: 64px;
    background: transparent;
    &:before, &:after {
      content: "";
      border-radius: 2%;
      width: 100%;
      height: 2px;
      background: $bg-dark;
      position: absolute;
      top: calc(50% - 1px);
      transition: background 0.2s ease-in-out;
    }
    &:before {
      left: 0;
      transform: rotate(45deg);
    }
    &:after {
      right: 0;
      transform: rotate(-45deg);
    }
    &:hover, &:focus {
      box-shadow: none;
      &:before, &:after {
        background: $black;
      }
    }

  }

  .btn {
    display: none;
    @include mq('768') {
      display: block;
      margin-top: auto;
    }
  }
}

.platform-list__wrapper.show {
  .platform-list {
    display: block;
    height: 411px;
    overflow: hidden!important;
    @include mq('768') {
      height: 373px;
    }
    &__item {
      height: 100%;
      width: calc(100% - 40px);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      flex-direction: row;
      padding: 0;
      transition: height 0.2s linear;
      box-shadow: -10px 0px 24px -4px rgba(16, 24, 40, 0.08), -7px 0px 8px -4px rgba(16, 24, 40, 0.03), 10px 0px 24px -4px rgba(16, 24, 40, 0.08), 7px 0px 8px -4px rgba(16, 24, 40, 0.03);
      &:first-child {
        z-index: 3;
        &[data-order="1"], &[data-order="2"] {
          z-index: 1;
          height: calc(100% - 40px);
        }
      }
      &:nth-child(2) {
        left: 20px;
        z-index: 3;
        &[data-order="1"], &[data-order="2"] {
          z-index: 2;
          height: calc(100% - 20px);
        }
      }
      &:last-child {
        left: 40px;
        z-index: 3;
        &[data-order="1"], &[data-order="2"] {
          z-index: 1;
          height: calc(100% - 40px);
        }
      }
    }
    &__title {
      text-align: left;
    }
    &__subtitle {
      text-align: left;
    }
    &__text {
      display: block;
      margin: 10px 0;
      text-align: left;
      font-size: 16px;
      line-height: 1.4;
      @include mq('1024') {
        font-size: 18px;
        line-height: 1.6;
      }
      @include mq('1600') {
        margin: 20px 0;
      }
    }
    &__content {
      width: calc(100% - 164px);
      padding: 32px;
      @include mq('1024') {
        width: calc(100% - 264px);
      }
      @include mq('1280') {
        width: calc(100% - 364px);
      }
    }
    &__img {
      order: 2;
      width: 164px;
      height: 100%;
      @include mq('1024') {
        width: 264px;
      }
      @include mq('1280') {
        width: 364px;
      }
      &_first {
        background: $platform-sl-bg-1;
        padding: 20px 0;
      }
      &_second {
        background: $platform-sl-bg-2;
        padding: 10px 0;
        @include mq('1024') {
          padding: 20px;
        }
      }
      &_third {
        background: $platform-sl-bg-3;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }

    &__btns {
      display: flex;
      width: 168px;
      padding: 32px;
      margin-left: 0;
      z-index: 4;
      &[data-order="3"] {
        left: 42px;
      }
      &[data-order="2"] {
        left: 22px;
      }
      &[data-order="1"]  {
        left: 0;
      }
    }
    &__close {
      display: block;
      &[data-order="3"] {
        right: 24px;
      }
      &[data-order="2"] {
        right: 44px;
      }
      &[data-order="1"]  {
        right: 64px;
      }

    }
  }

  .platform__btn {
    display: none;
  }
}
