.proposal {
  padding: 48px 0;
  display: none;
  background: $bg-beige;
  @include mq('768') {
    display: block;
  }

  &-block {
    background: $bg;
    border: 0.5px solid $bg-dark;
    border-radius: 40px;
    padding: 48px;
    text-align: center;
    &__btn.btn {
      width: 240px;
      margin-top: 48px;
    }
    &__title {
      font-size: 32px;
    }
    &__text {
      max-width: 542px;
      margin: 16px auto 0;
      font-size: 18px;
      font-weight: 500;

    }
  }

}
