.templates {
  padding: 64px 0 38px;
  text-align: center;
  @include mq('768') {
    padding: 80px 0;
  }
  &__title {
    margin-bottom: 24px;
    @include mq('768') {
      font-weight: 500;
    }
  }
  &__text {
    margin: 24px auto;
    text-align: center;
    max-width: 729px;
    @include mq('768') {
      font-weight: 500;
    }
  }
  &__btn {
    display: none;
    @include mq('768') {
      display: block;
      width: fit-content;
      margin: 0 auto;
    }
  }
}

.templates-list {
  margin: 48px 0;
  display: grid;
  flex-direction: column;
  grid-row-gap: 16px;
  @include mq('768') {
    flex-direction: row;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 32px;
  }
  @include mq('1280') {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 32px;
    grid-row-gap: 48px;

  }
  &__item {
    padding: 28px 31px 29px;
    border: 0.5px solid $bg-dark;
    border-radius: 24px;
    text-align: center;
    @include mq('768') {
      padding: 26px 31px 29px;
    }
    &_soon {
      position: relative;
      &:before {
        content: "soon";
        position: absolute;
        top: -13px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: fit-content;
        padding: 0 16px;
        background: $main;
        border-radius: 8px;
        border: 0.5px solid $bg-dark;
        color: $text-white;
        font-weight: 700;
        @include mq('768') {
          line-height: 26px;
          height: 26px;
          padding: 0 13px;
        }
      }
    }
  }
  &__title {
    font-weight: 700;
    font-family: $font-family-title;
    line-height: 1.3;
    font-size: 18px;
    margin-bottom: 8px;
    display: block;
    @include mq('768') {
      margin-bottom: 16px;
    }
  }
  &__text {
    margin-top: 16px;
    @include mq('768') {
      font-size: 16px;
      margin-top: 16px;
    }
  }
  &-icons {
    display: inline-flex;
    justify-content: center;
    margin: 19px auto 16px;
    width: auto;
    position: relative;
    margin-top: 19px;
    @include mq('1280') {
      margin-top: 12px;
    }
    &:before {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      top: 47%;
      left: 0;
      right: 0;
      background: $main;
    }

    &__item {
      width: 47px;
      height: 47px;
      padding: 8px;
      background: $icon-bg;
      border: 1px solid $icon-br;
      border-radius: 12px;
      position: relative;
      z-index: 1;
      @include mq('375') {
        width: 64px;
        height: 64px;
      }
      &:not(:last-child) {
        margin-right: 43px;
        @include mq('1280') {
          margin-right: 46px;
        }
      }
      img {
        width: 100%;
        height: 100%;
      }
      .icon {
        &-aave {
          background-image: linear-gradient(229.92deg, #B6509E 15.42%, #2EBAC6 84.43%);
          border-radius: 50%;
        }
        &-tg {
          background-image: linear-gradient(180deg, #2AABEE 0%, #229ED9 10000%);
          border-radius: 50%;
        }
      }
    }
  }
}
