.tools {
  padding: 50px 0 64px;
  @include mq('768') {
    padding: 80px 0;
  }
  &__title {
    text-align: left;
    margin-bottom: 24px;
  }
  &__text {
    margin: 24px 0;
    @include mq('768') {
      font-weight: 500;
      max-width: 718px;
    }
  }
  &__btn {
    margin: 0 auto;
    display: block;
    max-width: 538px;
    @include mq('768') {
      display: inline-block;
      margin: 0;
    }
  }
}

.tools-slider {
  margin: 40px 0 36px;
  @include mq('768') {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 25px;
    width: 100%;
  }
  @include mq('1280') {
    margin-top: 50px;
  }

  &-thumbnail {
    margin-bottom: 32px;
    position: relative;
    padding-left: 4px;
    @include mq('768') {
      width: calc(100% - 300px - 16px)!important;
    }
    @include mq('1024') {
      width: calc(100% - 523px - 16px)!important;
    }
    @include mq('1280') {
      width: calc(100% - 523px - 44px)!important;
    }
    &:before {
      content: "";
      left: 0;
      height: 100%;
      width: 4px;
      background: $border-color;
      top: 0;
      position: absolute;
    }
    &__item {
      background: transparent;
      padding: 20px;
      padding-right: 10px;
      transition: background 0.2s ease-in-out;
      overflow: visible!important;
      height: fit-content;
      min-height: calc(545px / 4) !important;
      @include mq('768') {
        padding: 16px 20px 18px;
      }
      @include mq('1280') {
        min-height: 0!important;
      }
      &.active {
        background: linear-gradient(90deg, rgba(244, 240, 235, 0.6) 0%, rgba(244, 240, 235, 0) 100%);
        &:before {
          background: $main;
        }
      }
      &:before {
        content: "";
        height: 100%;
        width: 4px;
        position: absolute;
        left: -4px;
        top: 0;
        background: transparent;
        transition: 0.2s ease-in-out;
      }
    }
    &__title {
      font-family: $font-family-title;
      font-size: 22px;
      font-weight: 600;
      line-height: 1.4;
      margin-bottom: 8px;
    }
    &__text {
      margin-top: 10px;
      @include mq('768') {
        margin-top: 7px;
        font-size: 16px;
        line-height: 1.6;
      }
    }
  }

  &-gallary {
    overflow: visible!important;
    width: 100%;
    &__item {
      display: flex;
      justify-content: center;
      border-radius: 32px;
      overflow: hidden;
      border-radius: 32px;
      @include mq('768') {
        min-width: 100%!important;
      }
    }
    &__wrapper {
      margin-left: -16px;
      margin-right: -16px;
      overflow: hidden;
      width: calc(100% + 32px);
      padding: 0 16px;
      @include mq('768') {
        width: 300px;
        margin: 0;
        padding: 0;
      }
      @include mq('1024') {
        width: 523px;
      }
      @include mq('1280') {
        align-items: flex-start;
      }
    }
    img {
      height: 100%;
      width: 100%;
      max-width: 523px;
      object-fit: contain;
      object-position: center;
    }
  }
}
