.tools {
  padding: 64px 0;
  @include mq('768') {
    padding: 80px 0;
  }
  &__title {
    text-align: left;
    margin-bottom: 24px;
  }
  &__text {
    margin: 24px 0;
  }
}

.tools-slider {
  margin-bottom: 40px;
  @include mq('768') {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: auto;
    grid-column-gap: 16px;
  }
  @include mq('1024') {
    grid-template-columns: 1fr 523px;
    grid-template-rows: auto;
    grid-column-gap: 16px;

  }
  @include mq('1280') {
    grid-template-columns: 1fr 523px;
    grid-template-rows: auto;
    grid-column-gap: 44px;
  }

  &-thumbnail {
    margin-bottom: 32px;
    position: relative;
    padding-left: 4px;
    &:before {
      content: "";
      left: 0;
      height: 100%;
      width: 4px;
      background:$border-color;
      top: 0;
      position: absolute;
    }
    &__item {
      background: transparent;
      padding: 20px;
      transition: background 0.2s ease-in-out;
      &.active {
        background: linear-gradient(90deg, rgba(244, 240, 235, 0.6) 0%, rgba(244, 240, 235, 0) 100%);
      }
    }
    &__title {
      font-family: $font-family-title;
      font-size: 22px;
      font-weight: 600;
      line-height: 1.4;
      margin-bottom: 8px;
    }
  }

  &-gallary {
    &__item {
      display: flex;
      justify-content: center;
    }
    img {
      max-width: 538px;
      @include mq('768') {
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}
