section.advantages
  .container
    h2.advantages__title Killer features to build
    p.advantages__text Lorem ipsum dolor sit amet consectetur.
    ul.advantages-list
      li.advantages-list__item
        +icon('codesandbox')
        span.advantages-list__title Decentralized infrastructure
        p.advantages-list__text Ditto helps to execute scheduled transactions on time in a secure and transparent manner
      li.advantages-list__item
        +icon('command')
        span.advantages-list__title Omnichain technology
        p.advantages-list__text Opportunity to automate interchain workflows on Ethereum, Polygon, Arbitrum, and more to come.
      li.advantages-list__item
        +icon('layers')
        span.advantages-list__title Workflow templates
        p.advantages-list__text Ditto provides a ready-to-use library for the latest DeFi primitives and any imagible combinations
      li.advantages-list__item
        +icon('git')
        span.advantages-list__title Conditional routers
        p.advantages-list__text Automatically route tasks based on certain conditions and both on-chain and off-chain events.
      li.advantages-list__item
        +icon('globe')
        span.advantages-list__title Connecting Web 2 and Web 3
        p.advantages-list__text The automation builder has a seamless integration between Web 2 and Web 3 tools and platforms
      li.advantages-list__item
        +icon('zap')
        span.advantages-list__title Custom triggers
        p.advantages-list__text Users can create custom triggers for their workflows based on their specific needs
