section.cases
  .container
    h2.cases__title Replacing repetitive tasks
      br
      | for users of any kind
    p.cases__text Let’s take a look at everything you can do.
    .cases-tabs
      ul.cases-tabs__btns
        li.cases-tabs__btn.active Trading
        li.cases-tabs__btn Payments
        li.cases-tabs__btn Blockchains transactions
        li.cases-tabs__btn Defi
        li.cases-tabs__btn DAOs
      ul.cases-tabs__contents
        li.cases-tabs__content.active
        li.cases-tabs__content
        li.cases-tabs__content
        li.cases-tabs__content
        li.cases-tabs__content

