section.cases
  .container
    h2.cases__title Replacing repetitive tasks for users of any kind
    p.cases__text Let’s take a look at everything you can do.
    .cases-tabs
      ul.cases-tabs__btns
        li.cases-tabs__btn.active Trading
        li.cases-tabs__btn Payments
        li.cases-tabs__btn Blockchains transactions
        li.cases-tabs__btn Defi
        li.cases-tabs__btn DAOs
      ul.cases-tabs-content
        li.cases-tabs-content__item.active
          .cases-tabs-content__top
            img(srcset="./img/cases/cases-1@2x.png 2x" src="./img/cases/cases-1.png", alt="Trading")
          .cases-tabs-content__bottom
            p Traders can streamline alerts, act based on custom triggers, and trade across any chosen platform with ease.
        li.cases-tabs-content__item
          .cases-tabs-content__top
            img(srcset="./img/cases/cases-2@2x.png 2x" src="./img/cases/cases-2.png", alt="Payments")
          .cases-tabs-content__bottom
            p Powering the tracking and converting payments - all automized.
        li.cases-tabs-content__item
          .cases-tabs-content__top
            img(srcset="./img/cases/cases-3@2x.png 2x" src="./img/cases/cases-3.png", alt="Blockchains transactions")
          .cases-tabs-content__bottom
            p Create automation for cross-chain transactions and smart contracts executions in several clicks.
        li.cases-tabs-content__item
          .cases-tabs-content__top
            img(srcset="./img/cases/cases-4@2x.png 2x" src="./img/cases/cases-4.png", alt="Trading")
          .cases-tabs-content__bottom
            p Automate your DAO management on a set of predefined rules
        li.cases-tabs-content__item
          .cases-tabs-content__top
            img(srcset="./img/cases/cases-5@2x.png 2x" src="./img/cases/cases-5.png", alt="DAOs")
          .cases-tabs-content__bottom
            p Ditto provides no-code builder to automate multiple DeFi protocols. Users can add endless number of actions to a workflow, executed all at once when pre-specified conditions have been met.

