section.features
  .features_shadow
  .container
    span.subtitle What we do
    h2.features__title We automate Web3 workflows
    ul.features-list
      li.features-list__item.wow.bounceInUp
        .features-list__content
          h3.features-list__title Countless automation
            br
            | possibilities
          p.features-list__text We are building the infrastructure that empowers Web3 users and developers to automate any workflow
          a(href=process.env.LINK_BUILD_A_WORKFLOW).btn.btn_primary.features-list__btn Build a Workflow
        .features-list__img#js-animation-1
      li.features-list__item.wow.bounceInUp
        .features-list__content
          h3.features-list__title It starts with a trigger
          p.features-list__text Ditto Network is allowing anyone to execute functions both on-chain and off-chain when triggered conditions have been met
          a(href=process.env.LINK_CHOOSE_A_TRIGGER).btn.btn_primary.features-list__btn Choose a Trigger
        .features-list__img#js-animation-2





