section.features
  .features_shadow
  .container
    span.subtitle What we do
    h2.features__title We automate Web3 workflows
    ul.features-list
      li.features-list__item
        .features-list__content
          h3.features-list__title Countless automation
            br
            | possibilities
          p.features-list__text We are building the infrastructure that empowers Web3 users and developers to automate any workflow
          a(href="#").btn.btn_primary.features-list__btn Build a Workflow
        .features-list__img
          img(srcset="./img/features-list-first.png 1x, ./img/features-list-first@2x.png 2x" src="./img/features-list-first.png", alt="Countless automation possibilities")
      li.features-list__item
        .features-list__content
          h3.features-list__title It starts with a trigger
          p.features-list__text Ditto Network is allowing anyone to execute functions both on-chain and off-chain when triggered conditions have been met
          a(href="#").btn.btn_primary.features-list__btn Choose a Trigger
        .features-list__img
          img(srcset="./img/features-list-second.png 1x, ./img/features-list-second@2x.png 2x" src="./img/features-list-second.png", alt="It starts with a trigger")





