//first-screen
section.first-sc
  .container.first-sc__container
    .first-sc__left
      h1.first-sc__title Automation infrastructure for&nbsp;
        span.first-sc__slider.keen-slider
          span.keen-slider__slide data streams
          span.keen-slider__slide data streams
          span.keen-slider__slide data streams
      p.first-sc__text Empowering Web3 users to seamlessly connect to&nbsp;
        span.main any application
        | &nbsp;and automate any workflow both on- and off-chain
      a(href="#").btn.btn_primary Create Task
    .first-sc__right
      img.first-sc__img_mobile(srcset="./img/first-sc/first-sc@2x.png 2x" src="./img/first-sc/first-sc.png", alt="")
      .first-sc__img_desktop
        img(src="./img/first-sc/first-sc-1@2x.jpg", alt="Automation infrastructure img")
        img(src="./img/first-sc/first-sc-2@2x.jpg", alt="Automation infrastructure img")
        img(src="./img/first-sc/first-sc-3@2x.jpg", alt="Automation infrastructure img")
        img(src="./img/first-sc/first-sc-4@2x.jpg", alt="Automation infrastructure img")
        img(src="./img/first-sc/first-sc-5@2x.jpg", alt="Automation infrastructure img")
        img(src="./img/first-sc/first-sc-6@2x.jpg", alt="Automation infrastructure img")



