section.integrations
  .container
    span.subtitle Pre-header here
    h2.integrations__title Powerful integrations
    .integrations-slider.keen-slider#my-keen-slider
      .integrations-slider__item.keen-slider__slide
        img(src="./img/integrations/integration-1.png", alt="")
      .integrations-slider__item.keen-slider__slide
        img(src="./img/integrations/integration-2.png", alt="")
      .integrations-slider__item.keen-slider__slide
        img(src="./img/integrations/integration-3.png", alt="")
      .integrations-slider__item.keen-slider__slide
        img(src="./img/integrations/integration-4.png", alt="")
      .integrations-slider__item.keen-slider__slide
        img(src="./img/integrations/integration-5.png", alt="")
      .integrations-slider__item.keen-slider__slide
        img(src="./img/integrations/integration-6.png", alt="")
      .integrations-slider__item.keen-slider__slide
        img(src="./img/integrations/integration-7.png", alt="")
      .integrations-slider__item.keen-slider__slide
        img(src="./img/integrations/integration-8.png", alt="")
      .integrations-slider__item.keen-slider__slide
        img(src="./img/integrations/integration-9.png", alt="")
      .integrations-slider__item.keen-slider__slide
        img(src="./img/integrations/integration-10.png", alt="")
      .integrations-slider__item.keen-slider__slide
        img(src="./img/integrations/integration-11.png", alt="")
