section.opportunities
  .container
    h2.opportunities__title Replacing repetitive tasks
      br
      | for users of any kind
    p.opportunities__text Let’s take a look at everything you can do.
    .opportunities-tabs
      ul.opportunities-tabs__btns
        li.opportunities-tabs__btn.active Trading
        li.opportunities-tabs__btn Payments
        li.opportunities-tabs__btn Blockchains transactions
        li.opportunities-tabs__btn Defi
        li.opportunities-tabs__btn DAOs
      ul.opportunities-tabs__contents
        li.opportunities-tabs__content.active
        li.opportunities-tabs__content
        li.opportunities-tabs__content
        li.opportunities-tabs__content
        li.opportunities-tabs__content

