section.partners
  .container
    span.subtitle Pre-header here
    h2.partners__title Powerful integrations
    .partners-slider.keen-slider#my-keen-slider
      .partners-slider__item.keen-slider__slide
        img(src="./img/partners/partner-1.png", alt="")
      .partners-slider__item.keen-slider__slide
        img(src="./img/partners/partner-2.png", alt="")
      .partners-slider__item.keen-slider__slide
        img(src="./img/partners/partner-3.png", alt="")
      .partners-slider__item.keen-slider__slide
        img(src="./img/partners/partner-4.png", alt="")
      .partners-slider__item.keen-slider__slide
        img(src="./img/partners/partner-5.png", alt="")
      .partners-slider__item.keen-slider__slide
        img(src="./img/partners/partner-6.png", alt="")
      .partners-slider__item.keen-slider__slide
        img(src="./img/partners/partner-7.png", alt="")
      .partners-slider__item.keen-slider__slide
        img(src="./img/partners/partner-8.png", alt="")
      .partners-slider__item.keen-slider__slide
        img(src="./img/partners/partner-9.png", alt="")
      .partners-slider__item.keen-slider__slide
        img(src="./img/partners/partner-10.png", alt="")
      .partners-slider__item.keen-slider__slide
        img(src="./img/partners/partner-11.png", alt="")
