section.platform#platform
  .container
    h2.platform__title Unified automation infrastructure
      br
      | with a versatile suite of tools
    p.platform__text Ditto is a no-code platform for Web3 users with a flexible automation infrastructure for Web3 builders and a seamless integration tools for existing dApps.
    .platform-list__wrapper
      ul.platform-list.keen-slider
        li.platform-list__item.keen-slider__slide.active.wow.bounceInUp
          .platform-list__img.platform-list__img_first
            picture
              source(srcset="./img/platform/platform-1.webp, ./img/platform/platform-1@2x.webp 2x" type="image/webp")
              img(srcset="./img/platform/platform-1@2x.png" src="./img/platform/platform-1.png", alt="", loading="lazy")
          .platform-list__content
            span.platform-list__title No-code automation builder
            p.platform-list__text A new solution for users looking to build, edit and track automation workflows in Web3 & Web2 applications. Our product is the perfect choice for users looking for an efficient, reliable, and secure way to automate their processes.
            button(type="button").btn.btn_secondary.platform__btn Learn more
        li.platform-list__item.keen-slider__slide.wow.bounceInUp(data-wow-delay="0.1s")
          .platform-list__img.platform-list__img_second
            picture
              source(srcset="./img/platform/platform-2.webp, ./img/platform/platform-2@2x.webp 2x" type="image/webp")
              img(srcset="./img/platform/platform-2@2x.png" src="./img/platform/platform-2.png", alt="", loading="lazy")
          .platform-list__content
            span.platform-list__title Keeper service
            p.platform-list__text The next generation of Web 3 transactions automation helping users to create conditional execution of their smart contract functions through a hyper-reliable and decentralized automation platform. It uses a sophisticated system of conditional execution to ensure that users can accurately and securely execute their transactions with a maximum reliability.
            button(type="button").btn.btn_secondary.platform__btn Learn more
        li.platform-list__item.keen-slider__slide.wow.bounceInUp(data-wow-delay="0.2s")
          .platform-list__img.platform-list__img_third
            picture
              source(srcset="./img/platform/platform-3.webp, ./img/platform/platform-3@2x.webp 2x" type="image/webp")
              img(srcset="./img/platform/platform-3@2x.png" src="./img/platform/platform-3.png", alt="", loading="lazy")
          .platform-list__content
            span.platform-list__title Unified infrastructure
              br
              | for DeFi
            p.platform-list__text A new solution for users looking to build, edit and track automation workflows in Web3 & Web2 applications. Our product is the perfect choice for users looking for an efficient, reliable, and secure way to automate their processes.
            button(type="button").btn.btn_secondary.platform__btn Learn more
      .platform-list__btns
        button(type="button").platform-list__btn.platform-list__btn_left.disabled left
          +icon('arrow-left')
        button(type="button").platform-list__btn.platform-list__btn_right right
          +icon('arrow-right')
      button(type="button").platform-list__close close
