section.points
  .container
    h2.points__title Action points
    ul.points-list
      li.points-list__item.wow.bounceInLeft
        span.points-list__title Stay in the loop
        .points-list-links
          a(href="#").points-list-links__item discord
            +icon('discord-main')
          a(href="#").points-list-links__item telegram
            +icon('tg-main')
      li.points-list__item.wow.bounceInUp
        span.points-list__title Get early access
        .points-list-links
          a(href="#").points-list-links__item Waitlist
      li.points-list__item.wow.bounceInRight
        span.points-list__title Develop on Ditto
        .points-list-links
          a(href="#").points-list-links__item Docs
    p.points__text As part of the Ditto launch we are excited to welcome new clients to our products.
      br
      | There are limited spaces each month – make sure to secure your place!
      br
      span.points__text_gray (Launching in Q3 2023)
    a(href="#").btn.btn_primary.points__btn Join Us!
