section.proposal
  .container
    .proposal-block.wow.bounceInUp
      h2.proposal-block__title Tasty Title with strong value protopisiton
      p.proposal-block__text Lorem ipsum dolor sit amet consectetur. Odio pulvinar libero amet ultrices. Suspendisse nunc sed hac vel feugiat.
      a(href="#").btn.btn_primary.proposal-block__btn Try Now
