section.proposal
  .container
    .proposal-block.wow.bounceInUp
      h2.proposal-block__title Contribute your research and ideas to the Ditto Discussion Forum
      p.proposal-block__text Let’s build the future of automations together!
        br
        | We look forward to meeting you.
      a(href=process.env.LINK_GO_TO_FORUM).btn.btn_primary.proposal-block__btn Go to forum
