section.services
  .container
    span.subtitle What we do
    h2.services__title We automate Web3 workflows
    ul.services-list
      li.services-list__item
        .services-list__content
          h3.services-list__title Countless automation possibilities
          p.services-list__text We are building the infrastructure that empowers Web3 users and developers to automate any workflow
          button.btn.btn_primary Build a Workflow
        .services-list__img
          img(src="./img/services-list-first.png", alt="Countless automation possibilities")
      li.services-list__item
        .services-list__content
          h3.services-list__title It starts with a trigger
          p.services-list__text Ditto Network is allowing anyone to execute functions both on-chain and off-chain when triggered conditions have been met
          button.btn.btn_primary Choose a Trigger
        .services-list__img
          img(src="./img/services-list-second.png", alt="It starts with a trigger")





