section.templates
  .container
    h2.templates__title Explore how you can use Ditto
    p.templates__text Choose from hundreds of pre-built workflow templates and install one in seconds. You can use our templates out-of-the-box or tweak them to meet your exact needs.
    ul.templates-list
      li.templates-list__item.wow.bounceInUp
        span.templates-list__title Leverage your WBTC/ETH positions
        ul.templates-list-icons
          li.templates-list-icons__item
            +icon('aave')
          li.templates-list-icons__item
            +icon('uniswap')
          li.templates-list-icons__item
            +icon('tg')
        p.templates-list__text Author: Ditto platform
      li.templates-list__item.wow.bounceInUp(data-wow-delay="0.1s")
        span.templates-list__title Distribute your tokens and NFTs to multiple wallet addresses at once
        ul.templates-list-icons
          li.templates-list-icons__item
            +icon('ethereum')
          li.templates-list-icons__item
            +icon('polygon')
          li.templates-list-icons__item
            +icon('arbitrum')
        p.templates-list__text Author: Ditto platform
      li.templates-list__item.wow.bounceInUp(data-wow-delay="0.2s")
        span.templates-list__title Cross-chain rebalancing between WBTC/ETH pools
        ul.templates-list-icons
          li.templates-list-icons__item
            +icon('ethereum')
          li.templates-list-icons__item
            +icon('polygon')
          li.templates-list-icons__item
            +icon('uniswap')
        p.templates-list__text Author: Ditto platform
      li.templates-list__item.wow.bounceInUp
        span.templates-list__title Claiming & Compounding
          br
          | rewards
        ul.templates-list-icons
          li.templates-list-icons__item
            +icon('fox')
          li.templates-list-icons__item
            +icon('uniswap')
          li.templates-list-icons__item
            +icon('discord')
        p.templates-list__text Author: Ditto platform
      li.templates-list__item.templates-list__item_soon.wow.bounceInUp(data-wow-delay="0.1s")
        span.templates-list__title Limit, TWAP and Stop-loss orders for AMM pools
        ul.templates-list-icons
          li.templates-list-icons__item
            +icon('uniswap')
          li.templates-list-icons__item
            +icon('tg')
        p.templates-list__text Author: Ditto platform
      li.templates-list__item.templates-list__item_soon.wow.bounceInUp(data-wow-delay="0.2s")
        span.templates-list__title 0% interest rates on USDT/USDC against your ETH
        ul.templates-list-icons
          li.templates-list-icons__item
            +icon('fox')
          li.templates-list-icons__item
            +icon('liquity')
          li.templates-list-icons__item
            img(src="./img/curve.png", alt="Curve DAO Token", loading="lazy")
        p.templates-list__text Author: Ditto platform
    a(href="#").btn.btn_primary.templates__btn Try It In Action
