section.tools
  .container
    h2.tools__title Limitless tools to scale and automate your product
    p.tools__text Ditto SDK is a powerful library of tools and functionalities that can help Web3 developers build and scale decentralized applications with ease while also providing the flexibility to customize and integrate with the latest DeFi primitives.
    .tools-slider.wow.bounceInUp
      ul.tools-slider-thumbnail.keen-slider.thumbnail
        li.tools-slider-thumbnail__item.keen-slider__slide
          span.tools-slider-thumbnail__title Automation Tools
          p.tools-slider-thumbnail__text The Ditto SDK includes automation tools that allow developers to automate tasks and processes
        li.tools-slider-thumbnail__item.keen-slider__slide
          span.tools-slider-thumbnail__title Custom Integrations
          p.tools-slider-thumbnail__text The SDK enables developers to build custom integrations with other Web3 technologies and platforms
        li.tools-slider-thumbnail__item.keen-slider__slide
          span.tools-slider-thumbnail__title Security and Compliance
          p.tools-slider-thumbnail__text The Ditto SDK includes a range of security and compliance tools to help developers ensure that their dApps are working in a proper way.
        li.tools-slider-thumbnail__item.keen-slider__slide
          span.tools-slider-thumbnail__title Automatic cross-chain interaction
          p.tools-slider-thumbnail__text Create a code as if it runs on a single chain. Ditto takes care of cross-chain calls and secure bridge execution layers.
      .tools-slider-gallary__wrapper
        ul.tools-slider-gallary.keen-slider
          li.tools-slider-gallary__item.keen-slider__slide
            picture
              source(srcset="./img/tools/tools-1@2x.webp" type="image/webp")
              img(src="./img/tools/tools-1@2x.png", alt="Automation Tools")
          li.tools-slider-gallary__item.keen-slider__slide
            picture
              source(srcset="./img/tools/tools-2.webp, ./img/tools/tools-2@2x.webp 2x" type="image/webp")
              img(srcset="./img/tools/tools-2@2x.png 2x" src="./img/tools/tools-2.png", alt="Custom Integrations")
          li.tools-slider-gallary__item.keen-slider__slide
            picture
              source(srcset="./img/tools/tools-3.webp, ./img/tools/tools-3@2x.webp 2x" type="image/webp")
              img(srcset="./img/tools/tools-3@2x.png 2x" src="./img/tools/tools-3.png", alt="Security and Compliance")
          li.tools-slider-gallary__item.keen-slider__slide
            picture
              source(srcset="./img/tools/tools-4.webp, ./img/tools/tools-4@2x.webp 2x" type="image/webp")
              img(srcset="./img/tools/tools-4@2x.png 2x" src="./img/tools/tools-4.png", alt="Automatic cross-chain interaction")
    a(href="#").btn.btn_primary.tools__btn Build with Ditto

