.footer {
  padding: 48px 0 24px;
  background: $footer-bg;
  color: $text-white;
  @include mq('768') {
    padding: 48px 0;
    font-size: 16px;
  }
  &__logo {
    width: 132px;
    height: 46px;
  }
  &__btn.btn {
    color: $text-white;
    margin-top: 27px;
    @include mq('768') {
      width: auto;
      margin: 12px auto 0;
      font-size: 18px;
    }
    @include mq('1024') {
      margin-right: 0;
      margin-top: 0;
    }
    @include mq('1280') {
      padding: 0 30px;
      height: 65px;
      line-height: 65px;
    }
  }
  &__text {
    margin: 33px 0;
    max-width: 450px;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
  }
  &__bottom {
    order: 2;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    @include mq('768') {
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__copyright {
    order: 2;
    text-align: center;
    width: 100%;
    margin-top: 42px;
    @include mq('768') {
      width: auto;
      order: 0;
      margin-top: 50px;
    }
    @include mq('1024') {
      margin-top: 63px;
    }
  }
  &__left {
    @include mq('1024') {
      max-width: 320px;
      margin-right: 3%;
    }
    @include mq('1280') {
      margin-right: 80px;
    }
  }
  &__soc{
    margin-top: 74px;
    @include mq('768') {
      width: auto;
      margin-top: 50px;
    }
    @include mq('1024') {
      margin-top: 63px;
    }
  }
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 48px;
  @include mq('768') {
    margin-top: 0;
  }
  @include mq('1024') {
    width: auto;
  }
  &__title {
    color: $footer-title;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 16px;
    display: block;
  }
  &__item {
    margin-right: 14%;
    font-weight: 600;
    @include mq('1024') {
      margin-right: 38px;
      max-width: 152px;
    }
    @include mq('1280') {
      margin-right: 48px;

    }
  }
  &__list {
    margin-bottom: 48px;
  }
}

.footer-nav-list {
  &__item {
    margin-bottom: 12px;
  }
}





