//footer
footer.footer
  .container.footer__container
    .footer__left
      a.logo.footer__logo(href="") Ditto logo
        +icon('logo-f')
      p.footer__text Empowering Web3 users to seamlessly connect to any application and automate any workflow both on- and off-chain
    ul.footer-nav
      li.footer-nav__item
        span.footer-nav__title Product
        ul.footer-nav-list.footer-nav__list
          li.footer-nav-list__item
            a.footer-nav-list__link(href="#") For companies
          li.footer-nav-list__item
            a.footer-nav-list__link(href="#") For developers
          li.footer-nav-list__item
            a.footer-nav-list__link(href="#") Contact us

      li.footer-nav__item
        span.footer-nav__title Resources
        ul.footer-nav-list.footer-nav__list
          li.footer-nav-list__item
            a.footer-nav-list__link(href="#") Blog
          li.footer-nav-list__item
            a.footer-nav-list__link(href="#") Newsletter
          li.footer-nav-list__item
            a.footer-nav-list__link(href="#") Documentation
      li.footer-nav__item
        span.footer-nav__title Legal
        ul.footer-nav-list.footer-nav__list
          li.footer-nav-list__item
            a.footer-nav-list__link(href="#") Terms & Conditions
          li.footer-nav-list__item
            a.footer-nav-list__link(href="#") Privacy Policy
    .footer__bottom
      p.footer__copyright &copy; 2023 Ditto. All rights reserved.
      ul.footer-soc
        li.footer-soc__item
          a.footer-soc__link(href="#")
            +icon('tw')
        li.footer-soc__item
          a.footer-soc__link(href="#")
            +icon('dc')
        li.footer-soc__item
          a.footer-soc__link(href="#")
            +icon('tg-f')
        li.footer-soc__item
          a.footer-soc__link(href="#")
            +icon('g-hub')
    a(href="#").btn.btn_third.footer__btn Enter App

