//footer
footer.footer
  .container.footer__container
    .footer__left
      a.logo.footer__logo(href="./") Ditto logo
        +icon('logo-f')
    ul.footer-nav
      li.footer-nav__item
        span.footer-nav__title Product
        ul.footer-nav-list.footer-nav__list
          li.footer-nav-list__item
            a.footer-nav-list__link(href="#") For companies
          li.footer-nav-list__item
            a.footer-nav-list__link(href="#") For developers
          li.footer-nav-list__item
            a.footer-nav-list__link(href="#") Contact us

      li.footer-nav__item
        span.footer-nav__title Resources
        ul.footer-nav-list.footer-nav__list
          li.footer-nav-list__item
            a.footer-nav-list__link(href="#") Blog
          li.footer-nav-list__item
            a.footer-nav-list__link(href="#") Newsletter
          li.footer-nav-list__item
            a.footer-nav-list__link(href="#") Documentation
      li.footer-nav__item
        span.footer-nav__title Legal
        ul.footer-nav-list.footer-nav__list
          li.footer-nav-list__item
            a.footer-nav-list__link(href="#") Terms & Conditions
          li.footer-nav-list__item
            a.footer-nav-list__link(href="#") Privacy Policy
    .footer__bottom
      p.footer__copyright &copy; 2023 Ditto. All rights reserved.
      ul.soc-list.footer__soc
        li.soc-list__item
          a.soc-list__link(href="#") twitter
            +icon('tw')
        li.soc-list__item
          a.soc-list__link(href="#") discord
            +icon('dc')
        li.soc-list__item
          a.soc-list__link(href="#") telegram
            +icon('tg-f')
        li.soc-list__item
          a.soc-list__link(href="#") github
            +icon('g-hub')

