//header
header.header.show
  .container.header__container
    a.logo(href="./") Ditto logo
      +icon("logo")
    .menu__wrapper.header__menu
      a.logo.menu__logo(href="./") Ditto logo
        +icon("logo")
      button.menu__close x
      nav
        ul.menu
          li.menu__item
            span.menu__link.menu__link_submenu Discover
              +icon('chevron')
            ul.menu__submenu
              li.menu__subitem
                a(href="./#cases").menu__sublink
                  +icon('cases')
                  | Use cases
              li.menu__subitem
                a(href="https://ditto-network.gitbook.io/ditto-network-docs/" target="_blank").menu__sublink
                  +icon('docs')
                  | Documentation
                  +icon('arrow-diag')
              li.menu__subitem
                a(href="https://medium.com/@dittonetwork").menu__sublink
                  +icon('blog')
                  | Blog
                  +icon('arrow-diag')
              li.menu__subitem
                a(href="").menu__sublink
                  +icon('career')
                  | Careers
          li.menu__item
            span.menu__link.menu__link_submenu Products
              +icon('chevron')
            ul.menu__submenu
              li.menu__subitem
                a(href="./#cases").menu__sublink
                  +icon('cases')
                  | Use cases
              li.menu__subitem
                a(href="").menu__sublink
                  +icon('docs')
                  | Documentation
                  +icon('arrow-diag')
          li.menu__item
            a.menu__link(href="/contacts.html") Contact us
      ul.soc-list.menu__soc
        li.soc-list__item
          a.soc-list__link(href="https://twitter.com/DittoAutomation") twitter
            +icon('tw')
        li.soc-list__item
          a.soc-list__link(href="#") discord
            +icon('dc')
        li.soc-list__item
          a.soc-list__link(href="#") telegram
            +icon('tg-f')
        li.soc-list__item
          a.soc-list__link(href="#") github
            +icon('g-hub')
      a(href="#").btn.btn_third.header__btn Enter App
    button.header__burger menu button
      +icon('burger')
