//header
header.header.show
  .container.header__container
    a.logo.header__logo(href="./") Ditto logo
      +icon("logo")
    .header-menu__wrapper
      button.header-menu__close x
      nav
        ul.header-menu
          li.header-menu__item
            a.header-menu__link(href="#") Docs
          li.header-menu__item
            a.header-menu__link(href="#") Cases
          li.header-menu__item
            a.header-menu__link(href="#") Roadmap
      a(href="#").btn.btn_third.header__btn Enter App
    button.header__burger menu button
      +icon('burger')
