h1 {
  font-size: $font-size-h1;
  font-family: $font-family-title;
  font-weight: 600;
  line-height: 1.3;
  @include mq('1280') {
    font-size: 48px;
  }
}

h2 {
  @extend h1;
  text-align: center
}

h3 {
  @extend h1;
  font-size: 28px;
  @include mq('1280') {
    font-size: 32px;
  }
}

.main {
  color: $main
}

.subtitle {
  color: $main;
  font-size: 18px;
  line-height: 1.4;
  font-family: $font-family-title;
  font-weight: 600;
  text-align: center;
  display: block;
  margin: 8px 0;
  @include mq('1280') {
    font-size: 22px;
  }
}

