$font-family-main: 'Inter', sans-serif;
//SIZE
$font-size-main: 16px;
$font-family-title: "Gilroy", sans-serif;
$font-size-h1: 34px;
$font-size-h2: 34px;

//COLORS

:root {
  --black: #000;
  --white: #ffffff;
  --green: #00C471;
  --green-rgb: 0, 196, 113;
  --green-dark: #009154;
  --beige-1: #FAFAFA;
  --beige-1-rgb: 250, 250, 250;
  --beige-2: #F7F2EC;
  --beige-3: #DED5CB;
  --beige-3-rgb: 222, 213, 203;
  --beige-4: #EAE5DF;
  --beige-5: #FBF5EE;
  --beige-6: #e8d9c8;
  --beige-green: #C6D1C2;
  --gray-dark: #202020;
  --gray-dark-2: #1D1D1D;
  --gray: #686868;
  --gray-light: #D9D8DB;
}

$black: var(--black);
$white: var(--white);
$main: var(--green);
$bg: var(--beige-1);
$bg-dark: var(--gray-dark);
$bg-beige: var(--beige-5);
$text: var(--gray-dark);
$text-white: var(--white);
$text-gray: var(--gray);
$btn-1-bg: $main;
$btn-1-cl: var(--white);
$btn-1-bg-hover: var(--green-dark);
$btn-2-bg: var(--beige-2);
$btn-2-br: var(--beige-4);
$btn-2-cl: var(--gray-dark);
$btn-2-bg-hover: var(--beige-6);
$btn-3-bg: transparent;
$btn-3-br: $main;
$btn-3-cl: $text;
$border-color: var(--beige-2);
$icon-bg: var(--beige-2);
$icon-br: var(--beige-4);
$link: $main;
$link-hover: var(--green-dark);
$link-br-hover: rgba(var(--green-rgb), 0.4);
$footer-bg: var(--gray-dark-2);
$footer-title: var(--gray);
$footer-soc: var(--gray);
$header-bg: rgba(var(--beige-1-rgb), 0.7);
$cicle: rgba(var(--beige-3-rgb), 0.11);
$platform-sl-bg-1: var(--beige-3);
$platform-sl-bg-2: var(--beige-green);
$platform-sl-bg-3: var(--gray-light);


$breakpoints: ("320": 320px, "375": 375px, "768": 768px, "1024": 1024px, "1280": 1280px, "1440": 1440px, "1600": 1600px);
//width container
$max-width: 1150px;
