$font-family-main: 'Inter', sans-serif;
//SIZE
$font-size-main: 16px;
$font-family-title: "Gilroy", sans-serif;
$font-size-h1: 34px;
$font-size-h2: 34px;

//COLORS

$black: var(--black);
$white: var(--white);
$main: var(--green);
$bg: var(--beige-1);
$bg-dark: var(--gray-dark);
$bg-beige: var(--beige-5);
$text: var(--gray-dark);
$text-white: var(--white);
$text-gray: var(--gray);
$btn-1-bg: $main;
$btn-1-cl: var(--white);
$btn-1-bg-hover: var(--green-dark);
$btn-2-bg: var(--beige-2);
$btn-2-br: var(--beige-4);
$btn-2-cl: var(--gray-dark);
$btn-2-bg-hover: var(--beige-6);
$btn-3-bg: transparent;
$btn-3-br: $main;
$btn-3-cl: $text;
$border-color: var(--beige-2);
$icon-bg: var(--beige-2);
$icon-br: var(--beige-4);
$link: $main;
$link-hover: var(--green-dark);
$link-br-hover: rgba(var(--green-rgb), 0.4);
$footer-bg: var(--gray-dark-2);
$footer-title: var(--gray);
$footer-soc: var(--gray);
$header-bg: rgba(var(--beige-1-rgb), 0.8);
$cicle: rgba(var(--beige-3-rgb), 0.11);
$platform-sl-bg-1: var(--beige-3);
$platform-sl-bg-2: var(--beige-green);
$platform-sl-bg-3: var(--gray-light);
$tools-bg: var(--beige-2);
$tools-br: var(--beige-4);


$breakpoints: ("320": 320px, "375": 375px, "768": 768px, "1024": 1024px, "1280": 1280px, "1440": 1440px, "1600": 1600px);
//width container
$max-width: 1150px;
