.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-aave {
	width: 100%;
	height: 100%;
}
.icon-arbitrum {
	width: 100%;
	height: 100%;
}
.icon-arrow-diag {
	width: 100%;
	height: 100%;
}
.icon-arrow-left {
	width: 100%;
	height: 100%;
}
.icon-arrow-right {
	width: 100%;
	height: 100%;
}
.icon-blog {
	width: 100%;
	height: 100%;
}
.icon-burger {
	width: 100%;
	height: 100%;
}
.icon-career {
	width: 100%;
	height: 100%;
}
.icon-cases {
	width: 100%;
	height: 100%;
}
.icon-chevron {
	width: 100%;
	height: 100%;
}
.icon-codesandbox {
	width: 100%;
	height: 100%;
}
.icon-command {
	width: 100%;
	height: 100%;
}
.icon-dc {
	width: 100%;
	height: 100%;
}
.icon-discord {
	width: 100%;
	height: 100%;
}
.icon-discord-main {
	width: 100%;
	height: 100%;
}
.icon-docs {
	width: 100%;
	height: 100%;
}
.icon-ethereum {
	width: 100%;
	height: 100%;
}
.icon-fox {
	width: 100%;
	height: 100%;
}
.icon-g-hub {
	width: 100%;
	height: 100%;
}
.icon-git {
	width: 100%;
	height: 100%;
}
.icon-globe {
	width: 100%;
	height: 100%;
}
.icon-layers {
	width: 100%;
	height: 100%;
}
.icon-liquity {
	width: 100%;
	height: 100%;
}
.icon-logo {
	width: 100%;
	height: 100%;
}
.icon-logo-f {
	width: 100%;
	height: 100%;
}
.icon-polygon {
	width: 100%;
	height: 100%;
}
.icon-tg {
	width: 100%;
	height: 100%;
}
.icon-tg-f {
	width: 100%;
	height: 100%;
}
.icon-tg-main {
	width: 100%;
	height: 100%;
}
.icon-tw {
	width: 100%;
	height: 100%;
}
.icon-uniswap {
	width: 100%;
	height: 100%;
}
.icon-zap {
	width: 100%;
	height: 100%;
}
